@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --text: #01161f;
  --background: #f8fdff;
  --primary: #1991d2;
  --secondary: #817efa;
  --accent: #723cf8;

  --text-800: #034663;
  --text-900: #022331;

  --inactive: #e2edf4;
  --black-10: #dae6e8;
  --black-20: #c1cbcd;
  --black-30: #879092;
  --black-40: #70787a;
  --black-60: #464b4d;
  --black-80: #282b2c;

  --primary-bg: #eef3f5;
  --primary-bg: #eff2f4;

  --background-10: #fcfcfc;

  --primary-50: #e8f5fc;
  --primary-100: #d1ecfa;
  --primary-200: #a4d8f4;
  --primary-300: #76c5ef;
  --primary-400: #48b1ea;

  --space-1x: 8px;
  --space-2x: 16px;
  --space-3x: 24px;
  --space-4x: 32px;
  --space-5x: 40px;
  --space-5x: 40px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 2.027;
}

h2 {
  font-size: 1.802rem;
}

h3 {
  font-size: 1.602rem;
}

h4 {
  font-size: 1.424rem;
}

h5 {
  font-size: 1.266rem;
}

h6,
.h6 {
  font-size: 1.125rem;
}

small,
.small {
  font-size: 0.889rem;
}
.extra-small {
  font-size: 0.79rem;
}
body {
  font-family: "Rubik", Roboto, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: var(--text-900);
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* grid-template-rows: 1fr 5fr; */
  min-height: 100vh;
}
.sidebar {
  grid-row: 1/3;
  background-color: var(--primary);

  padding: var(--space-3x);
  color: var(--background);
  color: #fcfdff;
}
.sidebar .title {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--space-2x);
}
.sidebar .item-group {
  list-style: none;
  display: grid;
  align-items: center;
  gap: calc(var(--space-1x) * 2.5);
  margin-top: calc(var(--space-1x) * 6);
  font-weight: 500;
}

.sidebar .item-group a {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.sidebar .item-group img {
  margin-right: var(--space-2x);
  margin-left: var(--space-1x);
}

.item-group {
  display: grid;
}
/* header */
.header {
  padding: var(--space-3x) var(--space-5x);
  background-color: var(--background-10);
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  column-gap: var(--space-2x);
  row-gap: var(--space-2x);

  z-index: 2;
}
.header .search-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--space-2x);
}
.header .profile-wrapper {
  display: grid;
  grid-template-columns: auto auto 1fr;
  justify-self: end;
  /* padding-right: var(--space-2x); */
  align-items: center;
  gap: var(--space-2x);
}
.profile-wrapper p {
  font-weight: 600;
}
.header .profile-bar {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 1 / 3;
  gap: var(--space-2x);
}

.profile-bar .left-section {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--space-2x);
}
.profile-bar .left-section p {
  font-weight: 500;
}
.profile-bar .right-section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  align-items: center;
  justify-items: center;
  gap: var(--space-1x);
}
.btn {
  display: flex;
  justify-content: center;

  border-radius: var(--space-3x);
  min-width: 90px;
  padding: calc(var(--space-1x) * 1.5);
  background-color: var(--primary);
  color: var(--background);
  cursor: pointer;
  font-weight: 500;
}
.btn:active {
  background-color: var(--primary-400);
}
input[type="text"] {
  background-color: var(--primary-50);
  border: 2px solid var(--primary-50);
  outline: none;
  border-radius: var(--space-2x);
  padding: var(--space-1x) var(--space-2x);
  color: var(--text-800);
  min-width: none;
}

input[type="text"]:focus,
input[type="text"]:focus-visible {
  border: 2px solid var(--primary-200);
}
/* content */
.content {
  padding: var(--space-3x);
  background-color: var(--primary-bg);
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: var(--space-4x);
}
.project-section {
  grid-row: 1/3;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--space-4x);
}
.projects-container .project-card {
  min-height: 240px;
  border-radius: var(--space-2x);
  background-color: var(--background-10);
  display: grid;
  grid-template-columns: calc(var(--space-1x) * 1.25) 1fr;
  overflow-x: hidden;
}
.light-shadow {
  box-shadow: 2px 2px 4px 1px var(--black-10);
}
.medium-shadow {
  box-shadow: 4px 4px 8px 2px var(--black-10);
}
.project-card .content-section {
  padding: var(--space-3x);
  display: grid;
  align-content: space-between;
  gap: var(--space-2x);
}
.project-card .icon-container {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: var(--space-3x);
}
.project-card p {
  color: var(--black-30);
}
.content h5 {
  margin-bottom: var(--space-2x);
}
.content h6 {
  margin-bottom: var(--space-1x);
}
.project-card .border {
  background-color: var(--secondary);
}
.aside-cards {
  display: grid;
  gap: var(--space-4x);
  align-content: start;
}
.announcement-section hr {
  border: 1px solid var(--black-20);
}
.announcement-card {
  padding: var(--space-3x);
  border-radius: var(--space-2x);
  background-color: var(--background-10);
  display: grid;
  gap: var(--space-1x);
}
.announcement-item {
  padding: var(--space-1x);
}
.announcement-item .ann-title {
  font-weight: 500;
}
.light-text {
  color: var(--black-30);
}

.trending-card {
  padding: var(--space-3x);
  border-radius: var(--space-2x);
  background-color: var(--background-10);
  display: grid;
  gap: var(--space-3x);
}
.trending-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: var(--space-2x);
}
.trending-item img {
  grid-row: 1 / 3;
}
.trending-item p:last-child {
  color: var(--black-30);
}
.filter-background {
  filter: invert(98%) sepia(47%) saturate(2007%) hue-rotate(179deg)
    brightness(108%) contrast(112%);
}
.filter-text {
  filter: invert(6%) sepia(84%) saturate(444%) hue-rotate(149deg)
    brightness(95%) contrast(102%);
}
.profile-pic {
  height: 48px;
  border-radius: 50%;
}
.big-pic {
  height: 64px;
}
.img {
  object-fit: contain;
  width: 100%;
  max-height: 400px;
}
.project-card .img {
  margin-bottom: var(--space-1x);
}
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.profile-bar .left-section .flex {
  font-size: larger;
  gap: var(--space-1x);
}
.footer {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
}
@media (max-width: 880px) {
  .header {
    grid-template-columns: 1fr auto;
  }
  .left-section {
    justify-self: center;
    grid-column: 1 /3;
  }
  .profile-bar .right-section {
    grid-column: 1/3;
  }
  .content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .sidebar .title {
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .sidebar .item-group {
    margin-top: var(--space-3x);
  }
  .container {
    grid-template-columns: 1fr;
  }
  .header {
    grid-template-columns: 1fr;
  }
  .header .profile-bar {
    grid-column: 1;
  }
  .header .profile-wrapper {
    justify-self: normal;
    grid-row: 1;
    grid-template-columns: 1fr auto auto;
    justify-content: space-between;
  }
  .sidebar .item-group {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
  .btn {
    min-width: 64px;
  }
  .projects-container {
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  }
}
